@import '~bootstrap/dist/css/bootstrap.min.css';

/* Color */
:root {
    --primary-color: #d2232a;
    --second-color: #000;
    --text-light-color: #fff;
  } 

/* Primary background color */
.primary-color {
    background-color: var(--primary-color);
  }

/* Font */
h3{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
  }

/* Navbar */
.navbar{
  padding: 0!important;
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
  margin-bottom: 2rem;
  }

.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
}
.navbar a {
  color: var(--text-light-color);
}

/* Button */
.btn{
  color: var(--text-light-color);
}

.btn:hover{
  color: var(--text-light-color);
  background: var(--second-color);
}

.btn-link:hover{
  background: none;
}

/* Icon*/
.fa{
  float: left;
  padding-top: 5px;
  vertical-align: center;
  color: var(--primary-color);
}
.fa:hover{
  cursor: pointer;
}

/* Content */
.content{
    padding-top: 1rem ;
  }

/* Text */
.text-primary {
    color: var(--primary-color)!important;
}

.cons-title{
  text-align: center;
  color: var(--primary-color);
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}

.sub-text{
  text-align: center;
  color: var(--second-color);
  font-family: 'Rajdhani', sans-serif;
}

/* Search Form */
.form-control{
  font-family: 'Rajdhani', sans-serif;
}

/* Cards */
.card-deck{
  margin-top: 2rem;
}

.cards-event{
  margin-top: 2rem;
}

.card-title{
  font-size: 1.7rem;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  color: var(--second-color);
}

.card-body{
  padding: 1rem!important;
}

.home-img{
  height: 50%;
}

.card-group{
  margin-top: 2rem;
}

.cons-img{
  height: 60%;
}

/* Alert */
.alert-color{ 
  color: var(--primary-color)!important;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}


/* Footer */
.page-footer {
  margin-top: 5rem;
}

.footer-text{
  color: var(--text-light-color);
}

.footer-link{
  color: var(--second-color);
}

.footer-link:hover{
  color: var(--text-light-color);
}



/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #d2232a transparent transparent transparent;
}

/* Toggle this class */
.popup .show {
  visibility: visible;
  animation: fdio  10s infinite;
  background:#d2232a;
}
@keyframes fdio {
  50% {opacity:0;}
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}