@import '~bootstrap/dist/css/bootstrap.min.css';

/* Color */
:root {
    --primary-background: #d2232a;
    --second-color: #000;
    --text-light-color: #fff;
  
  } 

/* Primary background color */
.primary-color {
    background-color: var(--primary-background);
  }

/* Navbar */
.navbar{
  padding: 0!important;
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
  margin-bottom: 2rem;
  }

.navbar a {
  color: var(--text-light-color);
}

/* Button */
.btn{
  color: var(--text-light-color);
}

.btn:hover{
  color: var(--text-light-color);
  background: var(--second-color);
}

/* Content */
.content{
    padding-top: 1rem ;
  }

/* Text */
.text-primary {
    color: #d2232a!important;
}

/* Cards */
.card-deck{
  margin-top: 2rem;
}

.cards-event{
  margin-top: 2rem;
}

.card-title{
  font-size: 1.7rem;
}

/* Footer */
.page-footer {
  margin-top: 5rem;
}

.footer-text{
  color: var(--text-light-color);
}

.footer-link{
  color: var(--second-color);
}

.footer-link:hover{
  color: var(--text-light-color);
}